/*--------
General
---------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin:auto;
}
/*--------
Debugg
---------*/
.debug header{
    background-color: #add8e6;
    padding-bottom: 4px;
}
.debug .credential{   
    background-color: #daa520;
}
.debug .credential > *{
    height: 45px;
}
.debug .bottom-header{
    background-color: #00008b;
}
.debug .main-box{
    height: 500px;
}
.debug .box-header{
    background-color: #ee82ee ;
    height: 400px;
}
.debug .small-box{
    background-color: #ffc0cb;
    height: 500px;
}
.debug .big-box{
    background-color: #1e90ff;
    height: 500px;
}

.debug .giant-box{
    background-color: #228b22;
    height: 900px;
}
.debug .border{
    border: 2px dashed black;   
}
.debug .white-border{
    border: 2px dashed white;  
}
 .top-footer{
    background-color: #23272a;
}
.debug .big-footer{
    background-color: #f08080 ;
    height: 580px;
}
.debug .small-footer{
    background-color: #20b2aa ;
    height: 580px;
}
.debug .bottom-footer{
    background-color: #23272a;
}
.debug .last-box{
    background-color:#7fffd4;
    height: 80px;
}
.debug .footer-logo{
    background-color: #ffb6c1 ;
    height: 37px;
}
.debug .footer-botton{
    background-color: #ffb6c1 ;
    height: 37px;
}
/*-------
 sfondo colore
-------*/
main section:nth-child(2n+2){
    background-color: #F6F6F6 ;
}
.top-footer{
        background-color: #23272a;
}
.bottom-footer{
    background-color: #23272a;
}
main section:nth-child(odd)::after{
    height: 80px;
    content:"";
    background-image: url(../img/wave1.svg);
    display: block;
}
main section:nth-child(1n+2)::before{
    height: 80px;
    content:"";
    background-image: url(../img/wave1.svg);
    display: block;
    transform: rotate(180deg);
}
/*-------
 header
-------*/
header{
    background-color: #255EE9 ;
}
.top-header{
    padding: 17px 0px;  
}
.bottom-header .main-box{
    background-image: url(../img/jumbo.png);
    height: 440px;
    background-size:contain;
    background-repeat: no-repeat;
    
}
.credential{
    display: flex;
}
.col-logo{
    width: 25%; 
    display: flex;
    align-items:center;
    justify-content:center;
}
.col-link{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-link ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
li a {
    color: white;
    text-decoration: none;
}

.col-login{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.main-box{
    display: flex;
    align-items:center;
    justify-content: center;
}
.box-header{
    width:calc(100% - 400px);
    border-radius: 10px;
}
h1{
    color: white;
    text-align: center;
    font-size: 40px;

}
.box-header p{
    text-align: center;
    padding: 30px 50px 20px;
    color: white;
    font-size: 20px;
}
/*---------
Buttons
---------*/
button{
    border-radius: 25px;
    border: 1px solid #255EE9 ;
    padding: 12px;
}
.button-login{
    color: black;
    background-color: white;
}  
.button-mac-white{
    background-color: white;
    font-size: 18px ;
    margin-right: 10px;
}
.button-mac-blue{
    background-color: #7289DA;
    font-size: 18px ;
    margin-right: 10px;
    color: white;
}
.button-browser{
    background-color: black;
    color: white;
    font-size: 18px;
}
.buttons-header{
    text-align: center;
}
.button-footer{
    background-color: #7289DA;
    
    margin-right: 10px;
    color: white;
}
/*-------
main
--------*/
.small-box h2{
    padding: 20px 250px 0px 0px;
    font-size: 35px;
}
.small-box p{
    padding: 30px 150px 0px 0px;
}
.container-box{
    display: flex;
    padding: 50px 0px;
}
.small-box{
    width: calc(100% - 720px);
    
}
.big-box{
    width: calc(100% - 480px);
}
/*-------
immagine destra
--------*/

.big-box .right-img{
    width: 70%;
    margin-left: 20% ;
}

/*-------
immagine sinistra
--------*/

.big-box .left-img{
    width: 70%;
    margin-right: 20%;
}
/*-------
parte finale main
--------*/
.container .giant-box h2{
  font-size: 35px;       
}
.container .giant-box p{
    padding: 20px 200px 0px;
       text-align: center;
  }
.giant-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.star{
    background-image: url(../img/stars.svg);  
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 40px;
    width: 50%;
}
.star .button-mac-blue{
    margin: 60px;
}
.container .giant-box h3{
    font-size: 30px; 
}

/*-------
footer
--------*/
footer section > div{
    display: flex;
    padding: 10px 0px 40px;
}
.big-footer{
    width: calc(100% - 210px * 4);
    padding: 40px;
}
.big-footer > *{
    padding-bottom: 20px;
}
.big-footer h3{
    font-size: 35px;
    color: #7289DA;  
}
.big-footer img{
    height: 15px;
    width: 25px;
}
.icon-social > *{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.big-footer small{
    color: white;
}
/*small footer */
.small-footer h4{
    font-size: large;
    color:#7289DA ;
}
.small-footer ul li{
    list-style-type:none;

}
.small-footer{
    width: 210px;
    padding: 40px ;
}
.small-footer h4,ul li{
    padding-bottom: 20px;
}
.last-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    display: flex;
    width: 20%;
    justify-content: flex-start;
    align-items: center;
}
.footer-botton{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}
hr{
    max-width: 1200px;
    margin:auto
}